body{
    margin: auto;
    padding: auto;
    width: 80%;
    border: 1px solid black;
    background-color:darksalmon;
}
figure{
    border: 1px solid black;
    padding: 20px;
    width: 45%;
    border-radius: 2px;
}
img{
    width: 100%;
    height: 90%;
}
.img2003{
    border-radius: 50%;
    float: left;
    margin: 0 30px 20px 0;
    width: 120px;
}
.img2006{
    float: right;
}
figcaption{
    text-align: center;
}
#Velozes{
    float: left;
}
#Velozes2{
    float: right;
}
