button{
    background-color: aquamarine;
    color: blueviolet;
    width: 10em;
    border-radius: 5px;
    border-color: blueviolet;
}

button:hover{
    background-color: aqua;
    color: coral;
    border-color: cadetblue;
}

p:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

input:focus{
    background-color: crimson;
}

li:nth-child(2){
    border: 1px solid olive;
}

#P2::after{
    content: "-aqui nos add o after";
    border: 1px dotted blue;
}

#P2::before{
    content: "Aqui add o before";
    border: 2px solid red;
}

.P3::first-letter{
    font-size: 4em;
    color: plum;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.P3::first-line{
    background-color: cadetblue;
    color: crimson;
}

::selection{
    background-color: darkmagenta;
    color: blue;
}